---
import Layout from '../layouts/BlogPost.astro';
import GlowLineSeparator from '@/components/ui/separator/GlowLineSeparator.astro';
const pageTitle = 'Sobre mí';
const pageDescription = 'Conoce más sobre mi formación y habilidades en tecnología.';
---

<Layout title={pageTitle} description={pageDescription} pubDate={new Date()} showHeader={false}>
  <p>
    Soy estudiante de Ingeniería de Sistemas con conocimientos en redes y telecomunicaciones, 
    lo que me permite comprender y aplicar conceptos relacionados con la conectividad y la infraestructura tecnológica.
  </p>
  <p>
    He desarrollado experiencia en asistencia administrativa, aportando en la organización de procesos y la gestión eficiente de información. 
  </p>
  <p>
    Además, cuento con bases en MySQL para el manejo y consulta de bases de datos, 
    así como en JavaScript, lenguaje que utilizo para iniciarme en el desarrollo web y la programación.
  </p>

  <GlowLineSeparator />
</Layout>
